@page "/welcome"
@inject NavigationManager NavManager

<h1 class="text-center mt-5">Üdvözöllek!</h1>

<p class="text-center lead mt-3">
    Készen állsz, hogy kezeld a pénzügyeidet? <br />
    Válassz az alábbi lehetőségek közül:
</p>

<div class="d-flex justify-content-center mt-4 gap-3">
    <a href="/transactions" class="btn btn-success">Tranzakciók</a>
    <a href="/savings" class="btn btn-primary">Megtakarítások</a>
    <a href="/community" class="btn btn-warning">Közösség</a>
    <a href="/reports" class="btn btn-secondary">Jelentések</a>
</div>
