<div class="nav-item px-3">
    <NavLink class="nav-link" href="/welcome" Match="NavLinkMatch.All">
        <span class="oi oi-home" aria-hidden="true"></span> Főoldal
    </NavLink>
</div>
<div class="nav-item px-3">
    <NavLink class="nav-link" href="/transactions">
        <span class="oi oi-plus" aria-hidden="true"></span>Tranzakciók
    </NavLink>
</div>
<div class="nav-item px-3">
    <NavLink class="nav-link" href="/savings">
        <span class="oi oi-plus" aria-hidden="true"></span> Megtakarítások
    </NavLink>
</div>
<div class="nav-item px-3">
    <NavLink class="nav-link" href="/community">
        <span class="oi oi-plus" aria-hidden="true"></span> Közösségi célok
    </NavLink>
</div>
<div class="nav-item px-3">
    <NavLink class="nav-link" href="/reports">
        <span class="oi oi-plus" aria-hidden="true"></span> Jelentések
    </NavLink>
</div>